{% extends 'card.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block cardcontent %}

<form method="POST">
   {% csrf_token %}

  {{ form.gip.as_hidden}}
  <div class="form-row">
      <div class="form-group col-md-12">
        {{ form.sow_no|as_crispy_field }}
      </div>
  </div>
  <div class="form-row">

      <div class="form-group col-md-12">
      {{ form.dos|as_crispy_field }}
        </div>
  </div>
  <div class="form-row">

        <div class="form-group col-md-12">
          {{ form.dof|as_crispy_field }}
        </div>
  </div>
  <div class="form-row">

      <div class="form-group col-md-12">
          {{ form.parity|as_crispy_field }}
      </div> 
  </div>
  <div class="form-row">
      <div class="form-group col-md-12">
          {{ form.born_male|as_crispy_field }}
      </div>
</div>
<div class="form-row">
      <div class="form-group col-md-12">
          {{ form.born_female|as_crispy_field }}
      </div>
</div>
<div class="form-row">
      <div class="form-group col-md-12">
          {{ form.born_total|as_crispy_field }}
      </div>
</div>
<div class="form-row">
      <div class="form-group col-md-12">
          {{ form.litter_weight_birth|as_crispy_field }}
      </div>
</div>
<div class="form-row">
      <div class="form-group col-md-12">
          {{ form.weaned_male|as_crispy_field }}
      </div>
</div>
<div class="form-row">
      <div class="form-group col-md-12">
          {{ form.weaned_female|as_crispy_field }}
      </div>
</div>
<div class="form-row">
      <div class="form-group col-md-12">
          {{ form.total_weaned|as_crispy_field }}
      </div>
</div>
<div class="form-row">
      <div class="form-group col-md-12">
          {{ form.weaning_weight|as_crispy_field }}
      </div>
</div>
<div class="form-row">
      <div class="form-group col-md-12">
          {{ form.still_birth_abnormality|as_crispy_field }}
      </div>
</div>  

  <button class="btn btn-success btn-lg float-right" type="submit">Next</button>
</form>

{% endblock cardcontent %}