{% extends 'card.html' %}
{% load static %}
{% block cardcontent %}
<div>
<h5>Identification Numbers of Animals</h5>
{% for i in animals %}
    <a href="{% url 'history' i.animal_id %} ">{{i.animal_id}}</a>
    <form method='GET' action="{% url 'delete' i.animal_id %}">
    {% csrf_token %}
            <button class="btn btn-success btn-lg" type="submit">Delete</button>
    </form>
{% endfor %}
</div>
<br>
<form>
            <button class="btn btn-success btn-lg" type="submit" formaction="/dataentry">Return</button>
    </form>

{% endblock cardcontent %}   
