{% extends 'card.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block cardcontent %}

  <div class="table-responsive">
      <table class="table table-bordered table-striped ">


          <thead id="theadthid">
            <tr>
            <th scope="col"> Serial Number</th>
            <th scope="col"> Disease</th>
            <th scope="col"> Number of Deaths</th> 
              </tr>
          </thead>

          <tbody id="tbodydata">


{% for disease,deaths in diseases.items %}
          <tr>
            <th scope="row">{{ forloop.counter}}</th>
            <td>{{ disease }}</td>
            <td>{{ deaths }}</td>
          </tr>
{% endfor %}
          </tbody>
      </table>
  </div>



{% endblock %}
