{% extends 'card.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block cardcontent %}

<div class="row justify-content-center py-2">
<input type="text" name="num" id="num">        

</div>

<form id="gipform">
<div class="row justify-content-center py-2">
        
        <button class="btn btn-success btn-lg" type="button" formaction="" id="gip">History Sheet</button>
</div>
</form>
<br>
<br>
<form id="epform" action="pigletborn">
<div class="row justify-content-center py-2">
        <button class="btn btn-success btn-lg" type="submit" id="ep">Piglet Born</button>
</div>
</form>
<form id="qbbform" action="pigletweaned">
<div class="row justify-content-center py-2">
        <button class="btn btn-success btn-lg" type="submit" id="qbb">Piglet Weaned</button>
</div>
</form>
<form id="srlcform" action="pigmortality">
<div class="row justify-content-center py-2">
        <button class="btn btn-success btn-lg" type="submit" id="srlc">Pig Mortality</button>
</div>
</form>
<form id="nfform" action="revenue">
<div class="row justify-content-center py-2">
        <button class="btn btn-success btn-lg" type="submit" id="nf">Revenue Received</button>
</div>
</form>
<form id="dcform" action="disease">
<div class="row justify-content-center py-2">
        <button class="btn btn-success btn-lg" type="submit" id="dc">Disease List</button>
</div>
</form>
<form id="ecoform" action="selectpigs">
<div class="row justify-content-center py-2">
        <button class="btn btn-success btn-lg" type="submit" id="eco">Select Pigs</button>
</div>
</form>
<form>
            <button class="btn btn-success btn-lg" type="submit" formaction="/">Return Home</button>
    </form>
<script>
    var gip=document.getElementById("gip");
    gip.addEventListener("click", gipfunc);

    function gipfunc(){
        console.log("click");
        var gipform=document.getElementById("gipform");
        var s1='history/';
        var s=document.getElementById("num").value;
        var x=s1.concat(s);
        gipform.action=x;
        gipform.submit();
    }
</script>

{% endblock cardcontent %}
